POSTGRES_DB=adms
POSTGRES_USER=adms
POSTGRES_PASSWORD=change-this-password
ZK_DEVICE_IP=192.168.1.201
ZK_DEVICE_PORT=4370
ZK_DEVICE_PASSWORD=600
MQTT_TOPIC=attendance/events
ON_TIME_START=05:00:00
ON_TIME_END=10:00:00
